body{
    background-color: $white-text-color;
    color: $primary-text-color;
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
}
.container {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px ;
}