.section-hero {
    // display: flex;
    height: 400px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, $bg-variants, $bg-variants), url(../images/Header-img.jpg);

    background-repeat: no-repeat;
    background-size: 480px 400px, contain;
    background-position: center;
    
    @media screen and (min-width: 480px) {
        background-size: 480px, cover;
        }
    @media screen and (min-width: 768px) {
        background-size: 768px, cover;
    }
    
     @media screen and (min-width: 1200px) {
        background-size: 480px, cover;
    }
}

.hero-tittle{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 118px;
    color: $white-text-color;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
        font-size: 26px;
        line-height: 1.62;
        }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        // padding-top: 200px;
    }

}

.hero-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: $white-text-color;
    background-color: $accent-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 10px 32px;  
    border: transparent;  
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: $secondary-text-color;
        background-color: $white-text-color;
        cursor: pointer;
    }
}