a{
    text-decoration: none;
}
section{
    @media screen and (min-width: 480px) {
        width: 480px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        // padding-top: 94px;
        padding-bottom: 64px;
    }


} 

.list, .list-portfolio, .team-members {
    list-style: none;
    padding: 0;
}
h2{
    margin: 0;
}

