$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196F3;
$white-text-color: #FFFFFF;
$footer-text-color: rgba(66, 44, 44, 0.4);
$our-team-bg-color: #F5F4FA;
$bg-color: #E5E5E5;
$bg-variants: rgba(47, 48, 58, 0.8);
$footer-bg-color: #2F303A;
$clients-color: #AFB1B8;
$footer-copyrite: rgba(255, 255, 255, 0.4);
$portfolio-border: #EEEEEE;
$backdrop: rgba(0, 0, 0, 0.2);

